.header {
    padding: 24px 0 25px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        margin: 0 auto;
        padding: 0 15px;
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            margin: 0 auto;
            padding: 0 15px;
        }
        @include desktop {
            max-width: 1200px;
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__nav {
        display: flex;
        align-items: center;

        gap: 93px;

        @include tablet {
            display: flex;
            align-items: center;
            gap: 83px;
        }
        @include desktop {
            gap: 93px;
        }
    }
    &__nav-list {
        display: flex;
        gap: 46px;
        display: none;
        @include tablet {
            gap: 46px;
            display: flex;
        }
    }
    &__logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $primary-color;
        text-decoration: none;
        @include tablet {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: $primary-color;
        }
    }
    &__nav-list {
        display: flex;
        list-style: none;
        gap: 46px;
        display: none;
        @include tablet {
            display: flex;
            list-style: none;
            gap: 46px;
        }
    }
    &__nav-item {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: $black;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: none;
        @include tablet {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: $black;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: block;
        }
    }

    &__nav-item:is(:hover, :focus) {
        color: $primary-color;
        display: none;
        @include tablet {
            color: $primary-color;
            display: block;
        }
    }

    &__nav-item--active {
        color: $primary-color;
        display: none;
        @include tablet {
            color: $primary-color;
            display: block;
        }
    }

    &__nav-item::after {
        content: '';
        background-color: transparent;
    }

    &__nav-item:is(:hover, :focus)::after {
        content: '';
        top: 45px;
        position: absolute;
        height: 4px;
        display: flex;
        width: 100%;
        background-color: var(--primary-color);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: none;
        @include tablet {
            content: '';
            top: 45px;
            position: absolute;
            height: 4px;
            display: flex;
            width: 100%;
            background-color: $primary-color;
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: block;
        }
    }

    &__contacts {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
        display: flex;

        gap: 30px;
        display: none;
        @include tablet {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            @include desktop {
                flex-direction: row;
                gap: 30px;
            }
        }
    }
    &__contacts-item {
        font-weight: 500;
        color: $ash;
        text-decoration: none;
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: none;
        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
    }
    &__contacts-item-icon {
        margin-right: 10px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: none;
        @include tablet {
            display: block;
        }
    }
    &__contacts a:hover,
    &__contacts a:focus {
        color: $primary-color;
        display: none;
        @include tablet {
            color: $primary-color;
            display: flex;
        }
    }
}
