.menu-container {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    padding: 40px 48px;
}

.menu-container.is-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

.menu-toggle {
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    // transform: translate(-50%, -50%);
    @include tablet {
        display: none;
    }
}
.menu-toggle:hover {
    color: $primary-color;
}

.mobile-menu {
    gap: 36px;
    display: flex;
    flex-direction: column;

    max-width: 100%;
    &__address {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__nav-item {
        gap: 32px;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.173;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $black;
        width: 100%;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__nav-item:hover {
        color: $primary-color;
    }
    &__nav-item--active {
        color: $primary-color;
    }

    &__contacts-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }
    &__mail-contact {
        color: rgba(117, 117, 117, 1);
        font-size: 24px;
        font-weight: 500;
        line-height: 1.172;
        letter-spacing: 0.02em;
        text-decoration: none;
    }
    &__mail-contact:hover {
        text-decoration: underline;
        color: $primary-color;
    }

    &__tel-contact {
        color: rgba(33, 150, 243, 1);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.171;
        letter-spacing: 0.02em;
        text-decoration: none;
    }
    &__tel-contact:hover {
        text-decoration: underline;
        color: $primary-color;
    }

    &__social-list {
        font-size: 18px;
        color: rgba(33, 150, 243, 1);
        gap: 64px;
    }

    &__social-list-item {
        display: inline-block;
        padding: 10px;

        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
