.order {
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/header@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $dark;
    height: auto;
    top: 60px;
    left: 0px;
    @include tablet {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/header@2x.png);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__text {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        letter-spacing: 0.06em;
        color: $white;
        text-align: center;
        left: 57px;
        top: 178px;
    }
    &__btn {
        width: 200px;
        height: 50px;
        background-color: $primary-color;
        color: $white;
        border: none;
        border-radius: 4px;
        outline: none;
        font-weight: 700;
        margin-bottom: 106px;
        cursor: pointer;
    }
}
